
<div class="container table-responsive mx-auto py-4 page-section cta-inner bg-faded">
  <h1 class="text-center mb-5">Profiles</h1>
  <table class="table table-strip table-hover mx-auto">
    <thead class="text-center">
      <tr class="mb-3"> 
        <th>Avatar</th>
        <th>Name</th>
        <th>Bio</th>
        <th>State</th>
        <th>Municipality</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @profiles.each do |profile| %>
        <tr>
            <td><%= image_tag(profile.avatar.url, :class => "avatar rounded-circle img-fluid")%></td>
            <td><%= profile.user.collectionist_name %></td>
            <td><%= profile.bio %></td>
            <td><%= profile.state%></td>
            <td><%= profile.municipality %></td>
            <% if current_user.admin? %>
                <td><%= link_to 'Go to Profile', profile %></td>
                <td><%= link_to 'Edit', edit_profile_path(profile)%></td>
                <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <%else%>
                <td><%= link_to 'Go to Profile', profile %></td>
            <%end%>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>



