
 <%= form_with(model: vinyl, local: true) do |form| %>
  <% if vinyl.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vinyl.errors.count, "error") %> prohibited this vinyl from being saved:</h2>

      <ul>
      <% vinyl.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="field">
      <%= form.label "Vinyl image" %><br />
      <%= form.file_field :image %>
    </div>

    <div class="field">
      <%= form.label :title %><br />
      <%= form.text_field :title, autofocus: true%>
    </div>

    <div class="field">
      <%= form.label :author %><br />
      <%= form.text_field :author%>
    </div>

    <div class="field">
      <%= form.label :released_date %><br />
      <%= form.date_field :released_date %>
    </div>

    <div class="field">
      <%= form.label :format %><br />
      <%= form.text_field :format%>
    </div>

    <div class="field">
      <%= form.label :description %><br />
      <%= form.text_area :description %>
    </div>

    <div class="field">
      <%= form.label :status %><br />
      <%= form.select(:status, Vinyl.statuses.keys.to_a) %> 
    </div>

    <div class="field">
      <%= form.label :condition %><br />
      <%= form.select(:condition, options_for_select(['new','used']))%>
    </div>

    <div class="field>
      <%= form.hidden_field :user_id %>        
    </div>
    <br>
   <div class="row">
    <div class="field col-md-4">
    <%= form.label :categories, "Categories:" %><br />
        <%= form.collection_check_boxes(:category_ids,
                                        Category.all,
                                        :id,
                                        :genre) do |b| %>
        <%= b.label class:"label-checkbox" do%>
            <%=b.check_box + b.text%>
        <%end%>
    <% end %>
  </div>
  </div>
    <br>
    <br>    

    <div class="actions">
      <%= form.submit class: "btn btn-outline-dark btn-sm"  %>
    </div>
<% end %>
