<br><br>
<section class="pt-5 mb-5">
  <div class="container">
    <div class="card mb-3 shadow-lg bg-faded">
      <div class="row g-0">
        <div class="col-md-6">
          <%= image_tag @vinyl.image, style:"width: 612px", class: "img-fluid mb-md-0", alt: "#{@vinyl.title}" %>
        </div>
        <div class="col-md-6">
          <div class="card-body vinyl-desc p-5 bg-faded shadow-lg section-heading">
            <h5 class="section-heading-upper"><%= @vinyl.author %></h5>
            <h2 class="section-heading-lower mb-3"><%= @vinyl.title %></h2>
            <p>
                <strong>Description:</strong>
                <%= @vinyl.description %>
            </p>
            <p>
                <strong>Condition: </strong>
                <%= @vinyl.condition %>
            </p>
            <p>
                <strong>Release date:</strong>
                <%= @vinyl.released_date %>
            </p>
            <p>
                <strong>Format:</strong>
                <%= @vinyl.format %>
            </p>
            <p>
                <strong>Status:</strong>
                <%= @vinyl.status %>
            </p>
            <p>
                <strong>Owner:</strong>
                <%= link_to @vinyl.user.collectionist_name, profile_path(@profile)%>          
            </p>
            <p>
                <strong>Genres:</strong>
                <%= @vinyl.categories.map(&:genre).join(', ') %>  
            </p>

            <div class="d-flex pt-4">
        <!--Bot칩n de swap est치 deshabilitado cuando se concret칩 un trueque-->
              <% if @vinyl.status === "available" %>
                <%= form_for :offer, url: new_vinyl_offer_path(@vinyl), method: :get do |f| %>
                  <%= f.hidden_field :vinyl_id, value: @vinyl.id %>
                  <%= f.submit "Swap Request", class: "btn btn-outline-dark mt-auto" %>
                <% end %>
              <% else %>
                <%= button_tag "Swapped", disabled: true, class: "btn btn-outline-dark mt-auto"%>
              <% end %>
            </div>
            <!--Condicional el due침o puede editar y borrar-->
            <% if @vinyl.user_id == current_user.id || current_user.admin? %>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-5">
                <%= link_to edit_vinyl_path(@vinyl) do %>
                  <button class="btn btn-outline-dark btn-sm" type="button">Edit vinyl</button>
                <% end %>
                <!-- Enlace delete recarga el show y no borra-->
                <%= link_to @vinyl, method: :delete, data: {confirm: "Are you sure?"} do %>
                  <button class="btn btn-outline-dark btn-sm" type="button">Delete Vinyl</button>
                <% end %>
              </div>
            <% end %>
            <div class="mt-3">
              <%= link_to '<< Back to Vinyls', vinyls_path %> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br><br><br><br>
  <!--<section class="page-section cta d-none d-lg-block">-->
  <!--<div class="container">-->   
    <!--<h2 class="section-heading mb-4 cta-inner bg-faded text-center rounded p-2">-->
      <!--<span class="section-heading-lower">Related Vinyls</span>-->
    <!--</h2-->
    <!-- Agregar lista de vinilos similares-->
 <!-- </div>-->
<!--</section>-->







