<p id="notice"><%= notice %></p>
<br>
<div class="container border border-warning border-2">
 <h1 class="text-center mt-4"> Offers List</h1>
    <br>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>OFFERED VINYL</th>
            <th>CHOSEN VINYL</th>
            <th>SENDER</th>
            <th>OWNER</th>
            <th>STATE</th>
            <th>END DATE</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @offers_list.each do |offer| %>
            <tr>
              <td><%= offer.offeredvinyl.title %></td>
              <td><%= offer.receivervinyl.title %></td>
              <td><%= offer.user_id%></td>
              <td><%= offer.owner_id%></td>
              <td><%= offer.offer_state %></td>
              <td><%= offer.end_date %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>

<br>
<br>