<p id="notice"><%= notice %></p>

<p>
  <strong>Offeredvinyl:</strong>
  <%= @offer.offeredvinyl.title + ' - ' + @offer.offeredvinyl.author%> 
</p>

<p>
  <strong>Receivervinyl:</strong>
  <%= @offer.receivervinyl.title + ' - ' + @offer.receivervinyl.author %>
</p>

<p>
  <strong>Offer state:</strong>
  <%= @offer.offer_state %>
</p>

<%= link_to 'Edit', edit_vinyl_offer_path(@offer.vinyl_id, @offer) %> |
<%= link_to 'Back', my_offers_path(current_user.id, @offers) %>
