<p id="notice"><%= notice %></p>
<br>
<div class="container border border-warning border-2">
 <h1 class="text-center"> Swaps List</h1>
    <br>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Offered vinyl</th>
          <th>Chosen Vinyl</th>
          <th>State</th>
          <th>End date</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @swapped_vinyls.each do |swap| %>
          <tr>
            <td><%= swap.offeredvinyl.title %></td>
            <td><%= swap.receivervinyl.title %></td>
            <td><%= swap.offer_state %></td>
            <td><%= swap.end_date %></td>
            <td><%= button_to 'Delete'%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>

<br>
<br>