<p id="notice"><%= notice %></p>
<br>
<div class="container border border-warning border-2">
 <h1 class="text-center mt-4"> Offers Received</h1>
    <br>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>OFFERED VINYL</th>
            <th>CHOSEN VINYL</th>
            <th>SENDER</th>
            <th>STATE</th>
            <th>END DATE</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @received_offers.each do |offer| %>
            <tr>
              <td><%= offer.offeredvinyl.title %></td>
              <td><%= offer.receivervinyl.title %></td>
              <td><%= offer.user_id%></td>
              <td><%= offer.offer_state %></td>
              <td><%= offer.end_date %></td>
              <% if offer.offer_state === "pending" %> 
                <td><%= button_to 'Accept', swap_accepted_path(offer.user_id, offer.id), class:"btn btn-warning shadow"%></td>
                <td><%= button_to 'Decline', swap_declined_path(offer.user_id, offer.id), class:"btn btn-warning shadow"%></td>
              <%else%>
                <td><%= button_to 'Accept', swap_accepted_path(offer.user_id, offer.id), disabled: true, class:"btn btn-btn-light shadow"%></td>
                <td><%= button_to 'Decline', swap_declined_path(offer.user_id, offer.id), disabled: true, class:"btn btn-btn-light shadow"%></td>
              <%end%>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>

<br>
<br>

<div class="container border border-warning border-2">
  <h1 class="text-center mt-4">Offers Sent</h1>
    <br>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>OFFERED VINYL</th>
            <th>CHOSEN VINYL</th>
            <th>OWNER</th>
            <th>STATE</th>
            <th>END DATE</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @offers.each do |offer| %>
            <tr>
              <td><%= offer.offeredvinyl.title %></td>
              <td><%= offer.receivervinyl.title %></td>
              <td><%= offer.user.collectionist_name%></td>
              <td><%= offer.offer_state %></td>
              <td><%= offer.end_date %></td>
              <td><%= button_to 'Cancel', user_offer_path(offer.user_id, offer.id), method: :delete, data: {confirm: "Are you sure?"}%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
<br>
<br>



